@import 'Colors.css';

.top-info-bar {
  background-color: var(--primary);
  border-radius: 15px;
  padding: 15px 25px;
}

.rounded-container {
  border-radius: 15px;
  padding: 15px 25px;
}


/* Landing page */
.pokemon-main-sprite {
  width: 300px;
}

/* Search Box */
.input-box i {
  position: absolute;
  right: 13px;
  top:15px;
  color:#ced4da;

}

.search-bar{
  background-color: var(--dark-grey);
  border: none;
  border-radius: 20px;
  height: 35px;
  width: 100%;
  padding: 2px 23px 2px 30px;
  outline: 0;
  color: var(--text-white);
}

.search-bar:focus{
  background-color: var(--dark-grey);
  box-shadow: none;
  border: none;
}

/* Weakness Table */

table tr td {
  text-align: center;
  color: var(--text-white);
}

tr, td, th {
  border: 1px solid var(--mid-grey) !important;
  font-weight: 100;
  font-size: 10px;
}

td {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}