@import 'Colors.css';

.top-info-bar {
  background-color: var(--primary);
  border-radius: 15px;
  padding: 15px 25px;
}

.rounded-container {
  border-radius: 15px;
  padding: 15px 25px;
  width: 100%;
}

.pokemon-main-sprite {
  width: 100%;
  max-width: 300px;
}

.line-chart-wrapper {
  min-height: 300px;
  max-height: 500px;
  min-width: 100%;
}

/* Search Box ================== */

.input-box i {
  position: absolute;
  right: 13px;
  top:15px;
  color:#ced4da;

}

.search-bar{
  background-color: var(--dark-grey);
  border: none;
  border-radius: 20px;
  height: 35px;
  width: 100%;
  padding: 2px 23px 2px 30px;
  outline: 0;
  color: var(--text-white);
}

.search-bar:focus{
  background-color: var(--dark-grey);
  box-shadow: none;
  border: none;
}

/*================================== */

/* Weakness Table ================== */

table tr td {
  text-align: center;
  color: var(--text-white);
}

tr, td, th {
  border: 1px solid var(--mid-grey) !important;
  font-size: 10px;
}

td {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}

/*================================== */

/* Pie Chart ======================= */

#pieChartName span:nth-of-type(1) {
  color: var(--chart1);
  font-weight: 700;
}

#pieChartName span:nth-of-type(2) {
  color: var(--chart2);
  font-weight: 700;
}

#pieChartName span:nth-of-type(3) {
  color: var(--chart3);
  font-weight: 700;
}

#pieChartName span:nth-of-type(4) {
  color: var(--chart4);
  font-weight: 700;
}

.item-legend:before {
  content:"\A";
  margin-right: 15px;
  width:10px;
  height:10px;
  border-radius:50%;
  display:inline-block;
}

.item-legend:nth-of-type(1)::before {
  background: var(--chart1);
}

.item-legend:nth-of-type(2)::before {
  background: var(--chart2);
}

.item-legend:nth-of-type(3)::before {
  background: var(--chart3);
}

.item-legend:nth-of-type(4)::before {
  background: var(--chart4);
}

/* ================================= */